*{
  margin: 0;
  padding: 0;
  

}
/* 1. General style of the document */

body {
  margin: 0;
  font-family:  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* 2. Navigation on top of the document */
.topbar{
  float: none;
  overflow: hidden;
  background-color: black; 
  position:absolute;
  left: calc((100% - 780px) / 2);
  width: 780px;
  text-align:center;     
}

.topbar a {
  float: left;
  display:block;
  color: rgb(240, 235, 235);
  
  padding: 15px;
  text-decoration: none;
  border-radius: 3px;
  width:100px;
}

.topbar a:hover {
  background-color: rgb(22, 119, 184);
  color: white;
}

.topbar a.active{
  background-color: rgb(22, 119, 184);
}

.topbar .icon{
  display: none;
}

@media screen and (max-width: 800px){
  .topbar{
    width:100%;
    left:0;
  }
  .topbar a:not(:first-child){
    display: none;    
  }
  .topbar a.icon{   
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topbar.responsive {
    position: absolute;
    width: 100%;
    left:0;
    top:0;
  }
  .topbar.responsive .icon {
    position: absolute;    
    right: 0;
    top: 0;
  }
  .topbar.responsive a {   
    width: 100%;
    float: none;
    display: block;
    text-align: left;
  }
}



/* 3.  */
.middle{
  text-align: center;
  padding-top: 100px;
}

img.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  width: 40%;
}

img.imggif{
  display:block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.homeDocument,
.profileDocument,
.projectDocument,
.skillsDocument,
.hobbyDocument,
.futureDocument {
  
  margin: auto;
  max-width: 600px;
  width: 100%;  
  padding-top: 100px;
  padding-bottom: 100px;
}

h1{
  font-size: 30px;
  font-family: "Papyrus",fantasy;
  font-style: oblique;
}

h2{
  padding: 10px;
  font-family:"Papyrus",fantasy;
  text-align: justify;
}

p{
  padding: 10px;
  text-align: justify;
}

p a{
  color: rgb(21, 8, 78);
}

/* footer */
.contactDocument{
  background-color: white; 
  overflow: hidden;
  position: fixed;
  bottom:0;
  width: 700px;
  left: calc((100% - 700px) / 2);
}

.contactReference{
  color:rgb(1, 22, 16);
  
  padding:5px 20px ;
  display:block;
  float: left;
}

@media screen and (max-width: 800px){
  .contactDocument{    
    width:460px;
    left:calc((100% - 460px) / 2);
  }
  .contactReference{
    padding:5px 2px ;
  }
  .contact{
    background-color: white; 
    position: relative;
    display:inline;
    overflow: hidden;
  }
  .endDocument{
    padding-bottom: 200px;
  }
  
}

  
img.contactImage{
  height: 30px;
}
